  /* Add a gap between the scrolling images and the features section */
  .additional-image-container {
    margin-bottom: 50px; /* Add this to create a gap below the scrolling images section */
  }
  





  .additional-image-container {
    margin-bottom: 40px; /* Adds space below the scrolling images section */
  }
  .bottom-image1 {
    max-width: 64%;
    height: auto;
    border-radius: 10px;
    margin-right: 130px;
}
.bottom-image10 {
  max-width: 270px;
  height: 340px;
  border-radius: 10px;
}
.bordered-container3 {
  border: 2px solid #727272; /* Dark grey border */
  padding: 10px; /* Adjust padding as needed */
  margin-bottom: 20px; /* Optional: Add margin-bottom for spacing */
  display: block;
  width: 800px;
}
.grey-container7 {
  background-color: #e1e0e0; /* Grey background color */
  padding: 10px; /* Increase padding inside the container */
  display: flex; /* Center the image inside */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 350px;
  margin-top: 75px;
}
/* Table Styling */
table {
  width: 100%; /* Set the table to take up the full width of its container */
  border-collapse: collapse;
  table-layout: fixed; /* Ensures that the table layout is fixed */
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow to the table */
  border-radius: 10px;
}

thead th {
  background-color: #8f00ff;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #6b00cc;
}

tbody td {
  padding: 12px;
  text-align: right;
  border: 1px solid #ddd;
  background-color: #f9f9f9; /* Light background color for better readability */
}

tbody tr:nth-child(even) td {
  background-color: #f3f5ff; /* Alternating row colors */
}

/* Column Specific Styling */
.column1 {
  width: 30%; /* Ensure all columns are equally spaced */
  word-wrap: break-word; /* Ensure text wraps within the cell */
}
.column2, .column3, .column4, .column5, .column6 {
  width: 14%; /* Ensure all columns are equally spaced */

  word-wrap: break-word; /* Ensure text wraps within the cell */
}

table input[type="text"] {
  width: 100%; /* Make sure inputs take the full width of their container */
  padding: 8px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border: 1px solid #f3f5ff;
  border-radius: 4px;
  transition: border-color 0.3s;
}

table input[type="text"]:focus {
  border-color: #8f00ff;
  outline: none;
}

/* Download Buttons */
.hidden {
  visibility: hidden;
  display: none;
}

#actifButton, #passifButton, #cpcButton, #cpcdetailsButton, #esgButton, #analyseButton {
  visibility: hidden;
  display: none;
}

#actifButton.active, #passifButton.active, #cpcButton.active, #cpcdetailsButton.active, #esgButton.active, #analyseButton.active {
  visibility: visible;
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#actifButton.active:hover, #passifButton.active:hover, #cpcButton.active:hover, #cpcdetailsButton.active:hover, #esgButton.active:hover, #analyseButton.active:hover {
  background-color: #218838;
}

/* Upload Button */
.upload-button {
  background-color: #8f00ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10PX;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #6b00cc;
}
.button {
  margin-right: 10px;
}
  
/* PDF Container */
.pdf-container1 {
  display: flex;
  flex-direction: column;
    align-items: center;
}
  
.pdf-header1 {
    align-items: top;
    width: 80%;
    display: flex;
    gap: 10px;

}
  
.pdf-title1 {
    font-size: 23px; /* Set font size to 40px */
    color: #6262b7;
    margin-top: 25px;

}